[flake8]
ignore =
    ; default
    E121, E123, E133, E226, E24,
    ; sometimes no whitespace between commas is clearer
    E231,
    ; W503 conflicts with W504 standard
    W503,
    ; must define path before some local imports
    E402,
    ; ignoring ambiguous variable name 'l'
    E741,
max-line-length = 79
per-file-ignores =
    */__init__.py:F401
    ; standard to ignore F401 in __init__.py
